 <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Analistas do IFRO &copy; Todos os direitos reservados</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->
</div>
</div>
<!-- FIM- Content Wrapper -->
</div>
<!-- FINAL- Page Wrapper -->
</body>
<script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="../js/popper.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<!--Icones-->
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<!--Datapickers-->
<script type="text/javascript" src="../js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../js/bootstrap-datepicker.pt-BR.min.js"></script>
</html>
