<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casa de Apoio - Painel Administrativo</title>
  <link rel="stylesheet" href="/../../css/bootstrap.css">
  <link rel="stylesheet" href="/../../css/bootstrap.min.css">
  <!--Icones-->
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <!--Fonte-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <!--CSS exclusivo para o painel admin-->
  <link href="/../../css/styleAdmin.css" rel="stylesheet">
</head>
