<!--2 Navbar com modal de Login-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-3">
    <a class="navbar-brand pl-4 myNav" href="/">
      <svg width="36" height="36" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
        Casa - Filhos de Hiram
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center myNav" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active m-3" id="liPersonalizada">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item m-3" id="liPersonalizada">
          <a class="nav-link" href="/quemSomos">Quem Somos</a>
        </li>
        <li class="nav-item m-3" id="liPersonalizada">
          <a class="nav-link" href="/quartos">Quartos</a>
        </li>
        <li class="nav-item m-3" id="liPersonalizada">
          <a class="nav-link" href="/contato">Fale Conosco</a>
        </li>
        <li class="nav-item m-3">
            <a class="btn btn-outline-light rounded-0" href="#" data-toggle="modal" data-target="#modalLogin">Login</a>
        </li>
      </ul>
    </div>
    <div class="justify-content-end myNav">
      <li class="nav-item m-3">
        <a class="btn btn-primary rounded-0" href="/reservas">Reserve aqui</a>
    </li>
    </div>
  </nav>    
    <!--  Modal -->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitulo" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLoginTitulo">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/autenticacao">
                        <div class="form-group">
                            <label for="loginEmail">E-mail</label>
                            <input type="email" class="form-control" id="loginEmail" name="email">
                        </div>
                        <div class="form-group">
                            <label for="loginSenha">Senha</label>
                            <input type="password" class="form-control" id="loginSenha" name="senha">
                        </div>
                        <button type="submit" class="btn btn-primary">Entrar na Conta</button>
                        <small class="form-text text-muted">Esqueceu a senha? <a href="#">Clique aqui</a>.</small>
                        <small class="form-text text-muted">Não tem cadastro? <a href="/admin/usuarios/new">Cadastra-se aqui</a>.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fecha Modal  -->