<!--3 Perguntas frequentes-->
    <section class="container bg-light">
        <div class="my-5 text-center">
            <br>
            <h1 class="text-dark">Perguntas Frequentes <hr></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
                <div class="pergunta py-2">
                    <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→ Quem é o grupo/instituição responsável pelo projeto?</a>
                    <div id="pergunta1" class="collapse" role="tabpanel">
                        <p>Francimar Dias Rodrigues (Presidente), Aldino Brasil de Souza (Presidente do Conselho) e Angelo ALmério de Melo Baleeiro (Secretário).</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→ Qual é o principal objetivo?</a>
                    <div id="pergunta2" class="collapse" role="tabpanel">
                        <p>O projeto visa construir uma casa de apoio que atenderá pacientes e familiares oriundos de outros municípios e Estados, que estarão em tratamento no Hospital de Câncer da Amazônia.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→ Quem é o públivo-alvo?</a>
                    <div id="pergunta3" class="collapse" role="tabpanel">
                        <p>Pacientes e seus acompanhantes que estão fazendo tratamento no Hospital do Câncer da Amazônia.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">→ Qual é o endereço?</a>
                    <div id="pergunta4" class="collapse" role="tabpanel">
                        <p>Km 17, BR 364, próximo ao Hospital de Câncer da Amazônia.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">→ Como é feita a escolha do quarto?</a>
                    <div id="pergunta5" class="collapse" role="tabpanel">
                        <p> De acordo com a disponibilidade.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="text-center my-4">
            <h5 class="small m-1">AINDA ESTÁ COM DÚVIDAS?</h5>
            <a class="btn btn-primary btn-lg" href="/contato">Entre em Contato</a>
        </div>
        <br>
    </section>
    