<!-- INÍCIO DO MENU-LATERAL-->
<div class="sidebar-container">
  <div class="logo">
    <h4 class="text-white font-weight-bold">
      Casa - Filhos de Hiram
    </h4>
  </div>
  <div class="menu">
    <a href="/admin" class="d-block p-3 text-light"><ion-icon name="home-outline" class="mr-2 lead"></ion-icon>Principal</a>
    <a href="/admin/reservas" class="d-block p-3 text-light"><ion-icon name="reader-outline" class="mr-2 lead"></ion-icon></ion-icon>Reservas</a>
    <a href="#" class="d-block p-3 text-light"><ion-icon name="bed-outline" class="mr-2 lead"></ion-icon>Quartos</a>
    <a href="/admin/usuarios" class="d-block p-3 text-light"><ion-icon name="people-outline" class="mr-2 lead"></ion-icon>Usuários</a>
  </div>
</div>
     
<!-- FINAL DO MENU-LATERAL -->
  