<%- include('./partials/header.ejs'); %>
    <body>
        <%- include('./partials/navbar.ejs'); %>
        <div class=" container text-center bg-light shadow p-5">
            <h1 class="display-5 text-info p-4 text-left">QUEM SOMOS<hr></h1>
                <div class="row">
                    <div class="col-md-12 p-4">
                        <h4 class="text-left pb-3">Equipe</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-12 p-4">
                        <h4 class="text-left pb-3">História</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="text-center m-4">MISSÃO</h5>
                        <p>Promover a transformação do ser humano, trabalhando no aperfeiçoamento moral, intelectual e espiritual dos maçons, 
                            através do estudo dos símbolos, alegorias e da filosofia maçônica, difundindo conceitos de liberdade, igualdade, fraternidade e 
                            justiça social.
                        </p>
                    </div>
                    <div class="col-md-4 bg-light">
                        <h5 class="text-center m-4">VISÃO</h5>
                        <p>Ser referência nacional em protagonismo maçônico voltado à modernidade administrativa e propagação dos conceitos de liberdade,
                        igualdade, fraternidade e justiça social, almejando o progressivo bem-estar da humanidade.</p>
                    </div>
                    <div class="col-md-4 bg-light">
                        <h5 class="text-center m-4">VALORES</h5>
                        <p>Se utilizar de sistemas modernos de administração, tecnologia, educação e docência incrementando o progresso e desenvolvimento da 
                            Maçonaria na jurisdição, pugnando pelo aperfeiçoamento moral, intelectual, espiritual e social da família maçônica, das Lojas e da humanidade, 
                            atuando na sociedade com princípios morais e éticos, preservando os valores da família maçônica e o respeito à dignidade das pessoas e das 
                            organizações, defendendo a liberdade, os direitos humanos e a justiça social administrada a todos.</p>
                    </div>
                </div>
        </div>
    </body>
<%- include('./partials/footer.ejs'); %>