<%- include('../../partials/headerAdmin.ejs'); %>
  <body>
    <div class="d-flex">
      <%- include('../../partials/sidebarAdmin.ejs'); %>
        <div class="w-100">
          <%- include('../../partials/navbarAdmin.ejs'); %>
          <div id="content">
             <selection>
                 <h1>Reservas</h1>
             </selection>
            <%- include('../../partials/footerAdmin.ejs'); %>
          </div>
        </div>
    </div>
  </body>